body{
    background-color: #f3f3f1;

    p{
        color: #000;
    }
    h3{
        color: rgb(185, 240, 222);
    }
    span{
        color: #000;
        height: 10px;
    }
    h1{
        height: 10px;
    }
    h5{
        color: crimson;
    }
}